<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет  -->
{% block title %}
The Best News: {{ post }}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
<br>
<h3>{{ post }}</h3>
<br>
{{ post.text }}
<br>
<br>
<hr>
Дата создания: {{ post.dateCreation | date:'M d Y' }}; автор: {{ post.author }}; рейтинг: {{ post.rating }}; номер: {{ post.id }}
<br>
<hr>
{% endblock content %}